@import "variables.less";

.back-office-app {
    display: flex;
    height: 100vh;
    width: 100%;

    .back-office-menu {
        flex: 0 0 220px;
        padding: @large-space;
        background-color: @black-gray;
        border-right: 1px solid @dark-gray;

        h3 {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: @normal-space;
            color: @gray;
            font-weight: @semi-bold-font-weight;
            cursor: pointer;

            &.selected {
                color: white;
            }

            .menu-item-icon {
                width: @menu-size-img;
                height: @menu-size-img;
                flex-shrink: 0;
                opacity: 0.5;
            }

            &.selected .menu-item-icon {
                opacity: 1;
            }
        }
    }

    .back-office-content {
        flex: 1;
        min-width: 0;
        height: 100%;
        overflow: auto;
    }

    @media @mobile {
        display: block;

        .back-office-menu {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            gap: @small-space;
            overflow-x: auto;
            padding: @normal-space;
            border-right: 0;
            border-bottom: 1px solid @dark-gray;

            h3 span {
                display: none;
            }
        }
    }
}