.home-page-container{
    height: 100%;
    overflow: hidden;
}

.home-page-container .suggested-movies{
    height: 44%;
    margin-bottom: 10px;
}

.home-page-container .last-movies{
    height: 54%;
}