.media-intermediate-presentation-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
}

.media-intermediate-presentation-container:hover{
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(195,64,53,0.2665441176470589) 50%, rgba(195,64,53,0) 100%);
}

.media-intermediate-presentation-container:active{
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(131, 130, 130, 0.267) 50%, rgba(195,64,53,0) 100%);
}

.media-intermediate-presentation-content{
    margin-top: 20px;
    margin-left: 10px;
}

.media-intermediate-presentation-info{
    margin-bottom: 20px;
    width: 500px;
    text-align: left;
}

.media-intermediate-presentation-info .info{
   color: #aaaaaa;
}

.media-intermediate-presentation-info .info-title{
    font-weight: bold;
}

.media-intermediate-presentation-actions{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}