.media-presentation-page-container {
    min-height: 100%;
    display: flex;
    width: 100%;
    position: relative;
    background-color: black;
}

.media-presentation-page-container .presentation {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
}

.media-presentation-page-container .presentation .info-container {
    height: 100%;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    background: linear-gradient(8deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 42%, rgba(0, 0, 0, 0.7763480392156863) 62%, rgba(255, 255, 255, 0) 100%);
}

@media (max-width: 1200px) {
    .media-presentation-page-container .presentation .info-container {
        background: linear-gradient(8deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 58%, rgba(0, 0, 0, 0.7763480392156863) 72%, rgba(255, 255, 255, 0) 100%);
    }

}

.media-presentation-page-container .presentation .info-container .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-left: 10px;
    width: 40%;
    flex-grow: 1;
}

.media-presentation-page-container .presentation .info-container .info .title {
    padding: 10px;
    min-height: 200px;
    display: flex;
    align-items: center;
}

.media-presentation-page-container .presentation .info-container .info .title img {
    width: 100%;
    max-width: 400px;
    max-height: 250px;
    height: auto;
}

.media-presentation-page-container .presentation .info-container .info .info-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.media-presentation-page-container .presentation .info-container .info .info-content .play-options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10%;
    margin-top: 10px;
    width: 100%;
}

.media-presentation-page-container .presentation .info-container .extra {
    flex-grow: 4;
    padding: 3px 3%;
}

.media-presentation-page-container .presentation .horizontal {
    display: flex;
    align-items: center;
}

.media-presentation-page-container .back-btn {
    position: absolute;
    left: 40px;
    top: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(163, 156, 156, 0.164);
}

.media-presentation-page-container .back-btn:hover {
    cursor: pointer;
    background-color: rgba(163, 156, 156, 0.493);
}

.media-presentation-page-container .back-btn:active {
    background-color: #2b2b2bbd !important;
}

.media-presentation-page-container .back-btn .back-arrow {
    color: white;
    font-size: 30px !important;
    border-radius: 50%;
}

.no-media-details-message {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}