.movie-lite-presentation{
    margin: 10px;
    width: 150px;
    transition: all 400ms ease-in-out;
}

.movie-lite-presentation:hover{
    transform: translateY(-10px);
    transition: transform 400ms ease-in-out;
    cursor: pointer;
    box-shadow: 0px 5px 10px 0px #bebebec9;
}

.movie-lite-presentation:active{
    transform: scale(1.02, 1.02);
    transition: transform 100ms ease-in-out;
    box-shadow: 0px 10px 10px 0px #bebebec9;
}

.movie-lite-presentation:active{
    box-shadow: 0px 5px 20px 0px #f5f5f5c9;
}

.movie-lite-presentation .infos{
    background-color: #130f0fcc;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 80px;
    box-shadow: 0px 5px 6px 0px #101010c9;
    text-align: left;
    width: 100%;
}

.movie-lite-presentation .title{
    color: white;
    font-weight: bold;
    font-size: 1rem;
    text-overflow: ellipsis;
    padding-left: 10px;
}

.movie-lite-presentation .year{
    color: rgb(185, 185, 185);
    font-style: italic;
    font-size: 0.8rem;
    padding-left: 10px;
}

.movie-lite-presentation .rating{
    color: white;
    font-size: 0.9rem;
    padding-right: 10px;
}

.movie-lite-presentation-img{
    width: 100%;
    height: 225px;
}

.movie-lite-presentation-img > img{
    width: 150px;
    height:  225px;
}



