.movie-presentation-page-container{
    height: 100%;
    display: flex;
    width: 100%;
    position: relative;
}

.movie-presentation-page-container .illustration{
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 40%;
}

.movie-presentation-page-container .illustration img.cover{
    height: 60%;
    width: auto;
    box-shadow: 1px 3px 9px 3px #101010c9;
}

.movie-presentation-page-container .info{
    background-color: black;
    height: 100%;
    width: 60%;
    box-shadow: -5px 0px 20px 20px #000000;
    color: white;
}

.movie-presentation-page-container .info > .title{
    font-size: 30px;
    margin: 20px;
}

.movie-presentation-page-container .info .details{
    font-size: 18px;
    color:#cecbcbd7;
    margin: 20px;
    font-weight: 600;
}

.movie-presentation-page-container .info .extra{
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    /* width: 90%; */
}

.movie-presentation-page-container .info .extra > .title{
    color: red;
    font-size: 22px;
    font-weight: 600;
    text-align: left;
    margin-right: 10px;
    width: 90px;
}

.movie-presentation-page-container .info .extra .content{
    font-size: 16px;
    text-align: left;
}

.movie-presentation-page-container .info .actions{
    margin: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-presentation-page-container .back-btn{
    position: absolute;
    left: 20px;
    top:20px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(163, 156, 156, 0.164);
}

.movie-presentation-page-container .back-btn:hover{
    cursor: pointer;
    background-color: rgba(163, 156, 156, 0.493);
}

.movie-presentation-page-container .back-btn:active{
    background-color: #2b2b2bbd !important;
}

.movie-presentation-page-container .back-btn .back-arrow{
    color: white;
    font-size: 30px !important;
    border-radius: 50%;
}

.movie-presentation-page-container .movie-version-selector{
    display: flex;
    align-items: center;
}

.movie-presentation-page-container .movie-version-selector .version{
    margin-right: 15px;
}

.movie-presentation-page-container .movie-version-selector .version.loading{
    position: relative;
    color: grey;
}

.movie-presentation-page-container .movie-version-selector .version.loading > div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

