.movie-presentation-page-container{
    min-height: 100%;
    display: flex;
    width: 100%;
    position: relative;
    background-color: black;
}

.movie-presentation-page-container .presentation{
    background-repeat: no-repeat;
    background-size:  100%;
    width: 100%;
}

.movie-presentation-page-container .presentation .info-container{
    height: 100%;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 6%, rgba(0,0,0,0.7343312324929971) 19%, rgba(0,0,0,0) 51%, rgba(0,0,0,0.6923144257703081) 72%, rgba(0,0,0,1) 99%, rgba(0,0,0,1) 100%);
}

.movie-presentation-page-container .presentation .info-container .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0 0 3% 3%;
    width: 35%;
    flex-grow: 1;
    background: linear-gradient(27deg, rgba(0,0,0,1) 23%, rgba(0,0,0,0.5662640056022409) 49%, rgba(253,187,45,0) 73%);

}

.movie-presentation-page-container .presentation .info-container .info .title{
    padding: 10px;
    min-height: 200px;
    display: flex;
    align-items: center;
}

.movie-presentation-page-container .presentation .info-container .info .title img{
    width: 100%;
    max-width: 400px;
    max-height: 250px;
    height: auto;
}

.movie-presentation-page-container .presentation .info-container .info .info-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  
    margin-top: 20px;
}

.movie-presentation-page-container .presentation .info-container .info .info-content .play-options{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.movie-presentation-page-container .presentation .info-container .extra{
    flex-grow: 4;
    padding: 3px 3%;
    background: rgba(0, 0, 0, 0.9);
    box-shadow:rgba(0, 0, 0, 0.9) -2px -1px 13px 20px;
}

.movie-presentation-page-container .presentation .horizontal{
    display: flex;
    align-items: center;
}

.movie-presentation-page-container .back-btn{
    position: absolute;
    left: 40px;
    top: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(163, 156, 156, 0.164);
}

.movie-presentation-page-container .back-btn:hover{
    cursor: pointer;
    background-color: rgba(163, 156, 156, 0.493);
}

.movie-presentation-page-container .back-btn:active{
    background-color: #2b2b2bbd !important;
}

.movie-presentation-page-container .back-btn .back-arrow{
    color: white;
    font-size: 30px !important;
    border-radius: 50%;
}

