.movie-services-menu-container{
    background-color:black;
    padding: 7px 10px;
    box-shadow: 0px 5px 10px 0px #bebebec9;
}

.movie-services-menu-container .title{
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 7px;
}

.movie-service{
    font-size: 1.1rem;
    margin: 3px 7px;
    color: rgb(216, 216, 216);
}

.movie-service.selected{
    font-weight: bold;
    color:white;
}

.movie-service:hover{
    cursor: pointer;
    color:white;
}


.movie-service:active{
    cursor: pointer;
    font-weight: bold;
    color:white;
}

