.nav-bar-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    position: relative;
    padding: 10px;
    z-index: 4;
}

.nav-bar-logo{
    width: auto;
    height: 60%;
}

.nav-bar-right{
    position: absolute;
    right: 2%;
    display: flex;
}

.nav-bar-btn{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 5px;
    transition: transform 0.5s ease-in-out;
}

.nav-bar-btn:hover{
    cursor: pointer;
    transform: translateY(-7px);
    transition: transform 0.5s ease-in-out;
}

.nav-bar-btn:active{
    background-color: #92929294;
}