.seen-movies-history-list-container{
    height: 100%;
}

.seen-movies-history-list-title-page{
    font-weight: bold;
    font-size: 18px;
    color: white;
    margin: auto;
    padding: auto;
    height: 10%;
}



.seen-movies-history-list-content{
    height: 90%;
    overflow-y: auto;
    position: relative;
}



