.splash-screen-container{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 15;
}

.splash-screen-container.hidden{
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease-in;
    z-index: -1;
}

.splash-screen-container > img{
    width: 50%;
    height: auto;
}

.splash-screen-container .error-message{
    color: white;
    font-size: 18px;
    font-weight: 500;
}