.suggested-movies-container{
    position: relative;
    height: 300px;
    margin: 0 auto;
    width: 100%;
}

.suggested-movie{
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto;
    opacity: 1;
    visibility: visible;
    transition: visibility 1s, opacity 1s linear;
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    height: 300px;
}

.suggested-movie.hidden{
    visibility: hidden;
    opacity: 0;
}

.suggested-movie-infos{
    color: white;
    height: 100%;
    width: 40%;
    background-color: #000;
    box-shadow: 20px -4px 20px 20px #000;
    z-index: 1;
}
.suggested-movie-infos > .header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.suggested-movie-title{
    font-size: 1.6rem;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.suggested-movie-year{
    font-style: italic;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.suggested-movie-rating{
    border-radius: 50%;
    background-color: rgb(71, 50, 50);
    color:white;
    width: 40px;
    height: 40px;
    margin: 7px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.suggested-movie-summary{
    border-radius: 10px;
    padding: 10px;
    text-align: left;
    overflow: hidden;       
    text-overflow: ellipsis;
    max-height: 40%;
    line-height: 1;
    font-size: 1.3rem;
    margin: 0 auto;
}

.suggested-movie-pictures{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    flex-grow: 5000;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.suggested-movie-cover-image{
    width: 160px;
    height:  235px; 
    box-shadow: 0px 1px 15px 12px #101010c9;
}


.suggested-movies-nav-controls{
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.suggested-movies-play-pause{
    z-index: 2;
    background-color: #00000096;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 20px;
}

.suggested-movies-play-pause > .icon{
    color: white;
    width: 25px;
    height: 25px;
}

.suggested-movies-play-pause:hover{
    background-color:rgb(71, 71, 71);
    cursor: pointer;
}

.suggested-movies-play-pause:active{
    background-color: rgb(146, 142, 142)!important;
}

.suggested-movies-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.suggested-movies-nav > .nav-elem{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.671);
    margin: 5px 10px;
}

.suggested-movies-nav > .nav-elem.selected{
    background-color: white;
}

.suggested-movies-nav > .nav-elem:hover{
    background-color: #8f8f8fde;
    cursor: pointer;
}

