.video-player-content{
    height: 100%;
    width: 100%;
    position: relative;
}

.video-player{
    height: 100%;
    width: 100%;
    background-color: black;
}

.video-player-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.video-player-error-message{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
}

/*# Video player controls */
.video-player-controls-container{
    width: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.7707457983193278) 35%, rgba(0,0,0,0) 100%);
    padding-top: 10px;
}

.video-player-controls{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.video-player-controls .controls-group{
    display: flex;
    align-items: center;
    padding: 5px;
}

.video-player-controls .controls-group .icon{
    color: white;
    height: 25px;
    width: 25px;
    margin: 0 3px;
}

.video-player-controls .controls-group .icon:active{
    color: rgb(165, 165, 165);
}

.video-player-controls .controls-group .icon.big{
    color: white;
    height: 34px;
    width: 34px;
    margin: 0 3px;
    padding-bottom: 3px;
}

.video-player-controls .controls-group .icon.small{
    color: white;
    height: 20px;
    width: 20px;
    margin: 0 3px;
    padding-bottom: 3px;
}

.video-player-controls .controls-group .icon:hover{
    cursor: pointer;
}

.video-player-controls .controls-group .controls-sub-group{
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.video-player-controls .controls-group .controls-sub-group::after{
    height: 30px;
    width: 1px;
    background-color: #8b8b8b;
    content: " ";
    margin: 0 5px;
}

/* ------------------ */

/*# Video options */
.video-options-container{
    position: relative;
}

.video-options-menu{
    position: absolute;
    background-color:black;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    min-width: 80px;
    border-radius: 5px;
    box-shadow: 0px 5px 6px 0px #101010c9;
    visibility: visible;
    opacity: 1;
    transition: visibility 0.5s, opacity 0.5s;  
    max-height: 100px;
    overflow-y: auto; 
}

.video-options-menu.suboptions{
    position: absolute;
    left: 0;
    transform: translateX(-100%);
}

.video-options-menu.hidden{
    visibility: hidden;
    opacity: 0;
}

.video-options-menu .option{
    margin: 5px 2px;
    font-size: 1rem;
    color: #9e9e9e;
    font-weight:bold;
}

.video-options-menu .label{
    margin: 5px 2px;
    font-size: 1rem;
    color: white;
    font-weight: bold;
}

.video-options-btn{
    border-radius: 5px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-options-btn:hover{
    cursor: pointer;
    background-color: rgb(39, 39, 39);
}

.video-options-btn:active{
    background-color: rgb(82, 82, 82);
}

.video-options-menu .option.selected{
    color:white;
    font-size: 1.1rem;
}

.video-options-menu .option:hover{
    cursor: pointer;
    color: white;
}

.adjust-subtitle-time-container{
    position: relative;
    color: white;
}

.adjust-subtitle-time-input-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.adjust-subtitle-time-input-container > input{
    width: 50px;
    background-color: grey;
    border: none;
    outline: none;
}
/* ------------------ */

/*# Video subtitles */
.video-player-subtitles{
    max-width: 50%;
    color: white;
    background-color: #00000079;
    margin: 0 auto 2% auto;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* ------------------ */

/*# Video time controller */
.video-time-controller-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.video-time-label{
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    margin: 0 10px;
}
/* ------------------ */

/*# Video volume controller */
.video-volume-controller{
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.video-volume-slider > input{
    width: 120px;
    margin: 0 15px;
}
/* ------------------ */

/*# Video player slider controller */

.video-player-slider-container{
    display: flex;
    min-width: 50%;
    width: 100%;
    height: 10px;
    position: relative;
    margin: 0 10px;
}

.video-player-slider-container:hover{
    cursor: pointer;
}


.video-player-slider-container .complete-part{
    background-color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.video-player-slider-container .remaining-part{
    background-color: rgba(255, 255, 255, 0.473);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.video-player-slider-container .cursor{
    position: absolute;
    border-radius: 50%;
    background-color: rgb(214, 214, 214);
    width: 20px;
    height: 20px;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 10px 4px #101010c9;
}

.video-player-slider-container .cursor:active{
    box-shadow: 0px 1px 10px 4px #b81a1ac9;
}

.video-player-slider-container .tooltip{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -120%);
    background-color: black;
    color: white;
    border-radius: 7px;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
    box-shadow: 0px 1px 4px 2px #292424c9;
}

/* ------------------ */
