./Backend/WebHostStreaming/WebHostStreaming/bin
./Backend/WebHostStreaming/WebHostStreaming/cache
./Backend/WebHostStreaming/WebHostStreaming/obj
./Backend/MovieAPI/MoviesApiSample
./Client/MauiApp
./Screenshots