MoviesAPI/.vs
MoviesAPI/MoviesAPI/obj
MoviesAPI/MoviesAPI/bin
WebHostStreaming/WebHostStreaming/bin
WebHostStreaming/WebHostStreaming/obj
WebHostStreaming/.vs
Front/react-streaming-client/.eslintcache