MoviesAPI/.vs
MoviesAPI/MoviesAPI/obj
MoviesAPI/MoviesAPI/bin
MoviesAPI/VfTorrentSearcher/bin
MoviesAPI/VfTorrentSearcher/obj
MoviesAPI.Tests/
MoviesAPI/MoviesApiSample/bin
MoviesAPI/MoviesApiSample/obj
WebHostStreaming/WebHostStreaming/bin
WebHostStreaming/WebHostStreaming/obj
WebHostStreaming/WebHostStreaming/GPUcache
WebHostStreaming/.vs
WebHostStreaming/WebHostStreaming/cache/
Front/react-streaming-client/node_modules/
Front/react-streaming-client/build/
Front/react-streaming-client/.eslintcache
Front/desktop-electron-app/out/
Front/desktop-electron-app/node_modules/
Front/extract-update-package-electron-app/out/
Front/extract-update-package-electron-app/node_modules/
MoviesAPI/MoviesApiSample/Tokens.cs
WebHostStreaming/WebHostStreaming/Helpers/Tokens.cs
Front/desktop-avalonia-ui-app/Medflix/Tools/Tokens.cs
.DS_Store
Front/.DS_Store
Front/desktop-electron-app/.DS_Store
Front/extract-update-package-electron-app/.DS_Store
MacOS App bundle/Medflix.app/
MacOS App bundle/Medflix.dmg

