<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<div class="container">
		<img src="./logo.png"></img>
		<div>
			<h4 id="info">A new version of Medflix is available, do you want to install it ?</h4>
			<div id="buttons" class="buttons-container">
				<button class="standard-button red" onclick="onYesClick()">Yes</button>
				<button class="standard-button grey" onclick="onNoClick()">No</button>
			</div>
		</div>
	</div>
	<script>
		window.addEventListener('DOMContentLoaded', () => {
			const info = document.getElementById('info')
			window.electronAPI.onUpdateDownloaded((_event, value) => {
				if (value)
					info.innerText = "New version downloaded, the application will be closed to install the new version.";
				else
					info.innerText = "Downloading of the new version has failed. Update aborted.";
			});
		});

		async function onYesClick() {
			const info = document.getElementById("info");
			info.innerText = "Downloading new version, please wait...";

			const buttonsSection = document.getElementById("buttons");
			buttonsSection.style.visibility = "hidden";

			window.electronAPI.confirmUpdateApp();
		}

		function onNoClick() {
			window.electronAPI.cancelUpdateApp();
		}
	</script>
</body>

</html>