html, body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    background: black;
    width: 100vw;
    height: 100vh;
    color: white;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: auto;
    text-align: center;
}

.buttons-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.standard-button{
    border-radius: 7px;
    padding: 7px 10px;
    width: fit-content;
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin: 0 5px;
    position: relative;
    border: none;
}

.standard-button.red{
    color: white;
    background-color: #E50914;
}

.standard-button.red:hover{
    background-color: #b30710;
    cursor: pointer;
}

.standard-button.grey{
    color: white;
    background-color: #252525;
}

.standard-button.grey:hover{
    background-color: #1a1a1a;
    cursor: pointer;
}
